{% extends "base.html" %} {% block title %} Create Post {% endblock %} {% block
content%}
<div class="d-flex justify-content-between">
  <h1 class="h1">Make a Post</h1>
  <a href="/home"
    ><button class="btn btn-lg btn-outline-danger">Cancel</button></a
  >
</div>
<hr />
<form method="POST">
  <textarea
    class="form-control"
    id="title"
    name="title"
    rows="1"
    placeholder="Blog Title"
    style="margin: 15px auto"
  ></textarea>
  <textarea
    name="text"
    id="text"
    cols="30"
    rows="10"
    class="form-control"
    placeholder="Blog Text"
  ></textarea>
  <br />
  <div class="d-flex">
    <button type="submit" class="btn btn-lg btn-primary flex-fill">Post</button>
  </div>
</form>
{% endblock %}
